<footer class="page-footer dark  " style=" margin-top: 30px">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h5>Get started</h5>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'signup' %}">Sign up</a></li>
                    <li><a href="{% url 'show' %}">Downloads</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>About us</h5>
                <ul>
                    <li><a href="{% url 'about' %}">Company Information</a></li>
                    <li><a href="{% url 'contact' %}">Contact us</a></li>
                    <li><a href="{% url 'about' %}">Reviews</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Support</h5>
                <ul>
                    <li><a href="{% url 'about' %}">FAQ</a></li>
                    <li><a href="{% url 'home' %}">Help desk</a></li>
                    <li><a href="{% url 'contact' %}">Forums</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Legal</h5>
                <ul>
                    <li><a href="{% url 'show' %}">Terms of Service</a></li>
                    <li><a href="{% url 'signup' %}">Terms of Use</a></li>
                    <li><a href="{% url 'login' %}">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2020 Copyright Text</p>
    </div>
</footer>